.title {
    display: flex;
    justify-content: center;
    background-color: #263443;
    color: #fefefe;
    font-size: 60px;
    margin: 0px;
    padding: 70px;
}

.searchMenu {
    display: flex;
    justify-content: center;
    background-color: #2c3e53;
    margin: 0px;
    padding: 15px
}

.searchMenu input {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.searchMenu select {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar button {
    font-size: 16px;
    padding: 15px;
    margin: 30px;
    background-color: #2b8bd3;
    color: #f8f9fb;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.movieCard {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    margin: 15px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #b1b1b1;
}

.movieCard img {
    justify-content: center;
    border-radius: 15px;
}

.movieCard h2 {
    text-align: center;
    margin: 20px;
    margin-top: 30px;
}

.movieCard p {
    margin: 10px;
}